<h1>Hello! Welcome to my - sort of - Bio!</h1> 

<h2>My name is <%= @information1 %></h1>
<h2>My surname is <%= @information2 %></h1>
<h2>I am <%= @information3 %> years old</h1>
<h2>I am a <%= @information4 %></h1>